<content>
  <form
    id="MainForm"
    class="w-25 m-4 position-absolute top-50 start-50 translate-middle"
    action="/register"
    method="POST">
    
    <h2>Register User</h2>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Name"
        maxlength="25"
        required
      />
      <label for="nameInp">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
        maxlength="25"
        required
      />
      <label for="emailInp">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        maxlength="25"
        required
      />
      <label for="passwordInp">Password</label>
    </div>
    <!-- Problemas para resolver passar isto para ejs e resolver inconsistencias -->
    <% if (error) { %>
      <div class="alert alert-danger" role="alert">
          <%= error %>
      </div>
  <% } %>
    <a href="/loginPage">Login if you already have an account</a>
    <br>
    <button type="submit" class="btn btn-warning text-light">Register</button>
  </form>
</content>
