<footer>
    <div class="footer-content">
        <div>
            <!-- Páginas de navegação -->
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div>
            <p>Whith the help of</p>
            <a href="https://www.themealdb.com/"><img src="/images/TheMealDB-Logo.png" alt="TheMealDB Logo"></a>
            <!-- Com ajuda de: www.themealdb.com -->
        </div>
        <div>
            <span>Devs behind the scenes:</span>
            <ul>
                <li>André Silva</li>
                <li>Samuel Santos</li>
                <li>Gonçalo Ferreira</li>
            </ul>
        </div>
        <div>
            <p>Academic project for Setúbal Polytechnic Institute</p>
            <img id="ips-logo" src="/images/PolitecnicoSetubal_Logo.png" alt="IPS Logo">
            <p>Copyright &copy; 2025</p>

        </div>
    </div>
    <div class="footer-bottom">
        <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
</footer>