.content {
    height: calc(100vh - 50px);
}

#auth-form {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.253), 0 6px 20px 0 rgba(0, 0, 0, 0.329);
    padding: 30px;
    border-radius: 10px;
    min-width: 300px;
    width: 100%;
}

#auth-form > div {
    padding: 10px;
}

.auth-container {
    background-color: #f39342;
    width: 95%;
    display: flex;
    border-radius: 10px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form-footer > a {
    text-decoration: underline;
}

.authLogoGR {
    display: none;
    width: 50%;
}

/* Small */
@media only screen and (min-width: 576px) {
    .auth-container {
        width: 500px;
    }
}

/* Medium */
@media only screen and (min-width: 768px) {
    .auth-container {
        width: 600px;
    }
}

/* Large */
@media only screen and (min-width: 992px) {
    .auth-container {
        width: 700px;
        margin: auto;
    }
    .authLogoGR {
        display: block;
    }
}

/* X-Large */
@media only screen and (min-width: 1200px) {
    .auth-container {
        width: 700px;
        margin: auto;
    }
    .authLogoGR {
        display: block;
    }
}

/* XX-Large */
@media only screen and (min-width: 1400px) {
    .auth-container {
        width: 700px;
        margin: auto;
    }
    .authLogoGR {
        display: block;
    }
}