<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css">
    <title>Lab 2 - Page Not Found</title>
</head>
<body>
    <nav>
        <ul class="navItems">
            <li><a href="/index.html">Home</a></li>
        </ul>
    </nav>
    <div style="display: flex; justify-content: center; align-items: center; height: 95vh;">
        <img src="/public/images/404-page-animation.gif" alt="error: 404 Page Not found">
        <h1 style="text-align: center;">Page Not found</h1>
    </div>
</body>
</html>