<content>
    <%# *Não interessa se o utilizador está ou não logado* %>

    <%# Search Bar central, com as principais opções de filtragem %>
    <%# quando o utilizador carrega no 'enter' é redirecionado para de 'Explore Recipes' %>

    <br>
    <div class="input-group">
        <input class="form-control border-end-0 border rounded-pill" type="search" value="search" id="example-search-input">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                <i class="bi bi-search"></i>
            </button>
        </span>
    </div>
    <br>

    <%# Listar 10/5 Cards em forma de lista random/sugestões horizontal com scroll %>
    <%- include('recipes/cards/cardsScrollListContainer.ejs', { recipes: recipes }) %>
</content>