body {
    margin: 0;
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: none;
    background-color: transparent;
    width: 90%
}

.card-img-top {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.253), 0 6px 20px 0 rgba(0, 0, 0, 0.329);
}

.card-body {
    border-radius: 30px;
    text-align: center;
    background-color: white;
    padding-top: 60%;
    margin-top: 50%;
}

.card-footer {
    display: flex;
    align-items: center
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #f39342;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ffd9b9;
}

.footer-content {
    background-color: #261f19;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 40px;
    text-align: center;
}

.footer-content div {
    width: 25%;
}

.footer-content img {
    max-width: 200px;
}

.footer-bottom {
    background-color: #f39342;
    padding: 20px;
}

.footer-bottom ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

#ips-logo {
    -webkit-filter: drop-shadow(1px 1px 0 white)
                    drop-shadow(-1px 1px 0 white)
                    drop-shadow(1px -1px 0 white)
                    drop-shadow(-1px -1px 0 white);

    filter: drop-shadow(1px 1px 0 white)
            drop-shadow(-1px 1px 0 white)
            drop-shadow(1px -1px 0 white)
            drop-shadow(-1px -1px 0 white);
}
