<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/templateDefault.css">
</head>
<body>
    
    <nav class="upperNavBar">
        <!-- Logo / Receitas / Categorias / Pesquisa / Login / Registar -->
        <ul>
            <li>
                <svg><image id="navLogo" alt="Logo" x="0" y="0" width="150" height="150" href="/images/GR-Logo.svg" /></svg>
            </li>
            <ul>
                <li><a href="/recipes">RECIPES</a></li>
                <li><a href="/categories">CATEGORIES</a></li>
                <li><input type="text" placeholder="Search"></li>
            </ul>
            <ul>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register">REGISTER</a></li>
            </ul>
        </ul>
    </nav>

</body>
</html>