<nav class="upperNavBar">
    <!-- Logo / Receitas / Categorias / Pesquisa / Login / Registar -->
    <ul>
        <li>
            <a href="/"><img id="navLogo" alt="GR - Logo" src="/images/GR-Logo.svg" /></a>
        </li>
        <ul>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/categories">Categories</a></li>
            <li>
                <img id="searchIcon" src="/images/searchIcon.svg" alt="Search">
            </li>
        </ul>
        <ul>
            <li><a href="/loginPage">Login</a></li>
            <li><a href="/registerPage">Register</a></li>
        </ul>
    </ul>
</nav>