<div class="container mt-5">
    <% if (recipes) { %>
        <%- include('../recipes/cards/cardsContainer.ejs', { recipes: recipes }) %>
    <% } else { %>
        <p>No recipes found.</p>
    <% } %>
</div>